@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@import '../../styles/variables.scss';

body {
    position: relative;
    max-width: 1440px;
    color: $text-color;
    background-color: $main-background;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 960px;
    max-width: 960px;
    padding: 40px 140px 140px 140px;
}
