@import '../../styles/variables.scss';

.search-wrapper {
  margin-top: 10px;
}

.form-search {
  display: block;
  max-width: 680px;
  width: 100%;
  padding: 10px 15px;
  border: 2px solid $text-color;
  border-radius: 10px;
  color: $text-color;
  font-size: 1rem;

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: $second-text-color;
  }
}
